/* General styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

hr {
    background-color: #007bff;
    height: 1px;
    width: 70px;
    border: 0;
}

.btn {
    background-color: transparent;
    border: 1px solid #007bff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 20px;
    color: #333;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
}

section {
    text-align: center;
    padding: 120px 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

section header {
    margin-bottom: 80px;
}

section header h2 {
    font-size: 1.9em;
    text-transform: uppercase;
    font-weight: 400px;
}


/* Header */

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    background-image: url(../img/header/header.jpg);
    background-size: cover;
    background-position: center;
}

.main-header h1 {
    font-size: 4.2em;
    color: #007bff;
    text-transform: uppercase;
    margin: 0px;
}

.main-header p {
    font-size: 1.3em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-header p span {
    color: #007bff;
}


/* Navigation */

.main-navigation {
    position: sticky;
    top: 0;
    background-color: #007bff;
    z-index: 100;
}

.main-navigation label, .main-navigation #drop-nav {
    display: none;
}

.main-navigation .nav-menu {
    margin: 0;
    text-align: center;
    padding: 10px;
}

.main-navigation .nav-menu .nav-menu-item {
    display: inline-block;
    margin: 0 10px;
}

.main-navigation .nav-menu .nav-menu-item a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
    display: block;
    transition: all 0.5s;
}

.main-navigation .nav-menu .nav-menu-item a:hover {
    color: #007bff;
    background-color: #fff;
}


/* About */

.about img {
    border-radius: 50%;
}

.about p {
    max-width: 700px;
    margin: 40px auto;
    color: #777;
}

.about .btn {
    display: inline-block;
    margin-top: 10px;
}


/* Portfolio */

.portfolio {
    background-color: #f2f1ed;
}

.portfolio .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio .portfolio-wrapper .portfolio-item {
    height: 200px;
    flex-basis: 25%;
    position: relative;
}

.portfolio .portfolio-wrapper .portfolio-item img {
    height: 100%;
    width: 100%;
}

.portfolio .portfolio-wrapper .portfolio-item h3 {
    position: absolute;
    top: 0;
    line-height: 200px;
    margin: 0;
    width: 100%;
    font-size: 3em;
    font-weight: 300;
    color: #fff;
    background-color: rgba(0, 123, 255, 0.80);
    opacity: 0;
}

.portfolio .portfolio-wrapper .portfolio-item h3:hover {
    opacity: 1;
}


/* Contact */

.contact form {
    max-width: 700px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form input:not([type='submit']) {
    flex-basis: 48%;
    padding: 15px;
    margin-bottom: 15px;
}

.contact form textarea {
    flex-basis: 100%;
    height: 100px;
    padding: 15px;
    margin-bottom: 20px;
}

.contact form .btn {
    margin: auto;
}

.contact .social-links {
    margin-top: 80px;
}

.contact .social-links a {
    font-size: 2.5em;
    margin: 0 20px;
    color: #007bff;
    transition: all 0.5s;
}

.contact .social-links a:hover {
    color: #5a5a5a;
}


/* Footer */

footer {
    background-color: #f2f1ed;
    text-align: center;
    padding: 30px;
}


/* Responsive CSS */

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
    
    .portfolio .portfolio-wrapper .portfolio-item {
        flex-basis: 50%
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 95%;
    }
    
    .portfolio .portfolio-wrapper .portfolio-item {
        flex-basis: 100%;
    }
}

@media (max-width: 480px) {
    .main-header h1 {
        font-size: 3em;
    }
    
.main-navigation label {
        display: block;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 20px;
        text-align: right;
        transition: all 0.5s;
        
    }
        
.main-navigation .nav-menu {
        display: none;
    }
    
.main-navigation #drop-nav:checked + ul {
        display: block;
    }

.main-navigation .nav-menu .nav-menu-item {
    display: block;
    text-align: right;
}
    
.contact form input:not([type='submit']) {
    flex-basis: 100%;
    }
}
    
    

















